.robot-list {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .robot-container {
    text-align: center;
    width: 100%;
  }
  
  .robots {
    display: flex;
    gap: 10px;
    margin: 15px 20px 0 20px;
    flex-direction: column;
    height: auto;
  }
  
  .robot {
    min-height: 80px;
    width: 100%;
    border: 4px solid #00b8d4;
    border-radius: 10px;
    flex: 0 0 30%;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    color: #00b8d4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selected {
    background-color: #00b8d4;
    color: #fff;
  }
  
  
  
  @media only screen and (max-width: 900px) {
    .map-item {
      font-size: 35px !important;
    }
  
    .map-cancel-button {
      font-size: 35px;
    }
  
    .map-confirm-button {
      font-size: 35px;
    }
  
    .map-confirm-button-icon {
      font-size: 2.5em;
    }
  
    .map-confirm-button-title {
      font-size: 20px;
    }
  }
  