.navbar-expand .navbar-collapse {
  display: flex !important; // stylelint-disable-line declaration-no-important
  flex-basis: none;
}

.navbar {
  background-color: #052344;
  max-height: 100px;
  height: 100%;
  position: sticky;
}

.mode {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  flex: 1;
}

.mode-title {
  overflow: hidden;
  white-space: nowrap;
}

.map {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  flex: 1;
  text-align: right;
}

.map-title {
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  text-align: center;
}

.path {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
}

.nav-link {
  color: #fff;
  max-height: inherit;
  max-width: inherit;
}

.language-container {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
}

.admin-container {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
}

.battery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  // margin: auto;
  // filter: drop-shadow(1px 1px white) drop-shadow(-0.1px -0.1px 0 white) drop-shadow(0.1px 0.1px 0 white);
  // .battery {
  //   position: relative;
  //   width: 5em;
  //   top: 0;
  //   left: 0;
  // }
  // .battery-charging {
  //   position: absolute;
  //   left: 28px;
  //   animation: fade 600ms infinite;
  // }

  .battery-percentage {
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    text-align: center;
    color: white;
  }

  .battery-charging-icon {
    animation: fade 600ms infinite;
  }

  // .battery-charging-icon {
  //   // animation: blink 1s 3;
  // }
}

.icon {
  font-size: 2.5em;
  color: #fff;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// @keyframes blink{
//   to {
//     display: none;
//   }
// }

@media only screen and (max-width: 900px) {
  .mode {
    font-size: 25px;
    width: 100px;
  }

  .map,
  .path {
    font-size: 25px;
  }
}

@media (width < 350px) {
  .map-title {
    text-align: end;
  }
}
