<nav class="navbar navbar-expand flex-sm-nowrap flex-wrap">
  <div class="container-fluid" *ngIf="currentUrl === '/hong-chi'">
    <div
      class="navbar-collapse collapse flex-sm-grow-1 justify-content-start align-self-center mode"
      style="flex: 1"
    >
      <label
        style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
      >
        {{ modeTranslation }}</label
      >
    </div>
    <div
      class="navbar-collapse collapse flex-sm-grow-1 justify-content-center align-self-center map"
    >
      <label
        style="
          overflow: hidden;
          text-overflow: ellipsis;
          width: 50px;
          white-space: nowrap;
          text-align: end;
        "
        >{{ map ? map : mapTranslation }}</label
      >
    </div>

    <div
      class="navbar-collapse collapse flex-sm-grow-1 justify-content-end align-self-center"
      style="flex: 1"
    >
      <ul class="navbar-nav ms-auto" style="display: flex; gap: 5px">
        <li
          class="nav-item battery-container"
          placement="bottom"
          (click)="isShowBatteryPercentage()"
        >
          <label
            class="battery-percentage"
            style="text-align: end"
            *ngIf="showBatteryPercentage"
            >{{ percentage }}%</label
          >
          <i
            class="mdi mdi-battery-alert-variant-outline battery-icon icon"
            *ngIf="powerSupplyStatus !== 'CHARGING' && percentage <= 0"
          ></i>
          <i
            class="mdi mdi-battery-low battery-icon icon"
            *ngIf="
              powerSupplyStatus !== 'CHARGING' &&
              percentage > 0 &&
              percentage <= 10
            "
          ></i>
          <i
            class="mdi mdi-battery-medium battery-icon icon"
            *ngIf="
              powerSupplyStatus !== 'CHARGING' &&
              percentage > 10 &&
              percentage < 60
            "
          ></i>
          <i
            class="mdi mdi-battery-high battery-icon icon"
            *ngIf="powerSupplyStatus !== 'CHARGING' && percentage >= 60"
          ></i>

          <i
            class="mdi mdi-battery-charging battery-icon icon"
            *ngIf="powerSupplyStatus === 'CHARGING'"
          ></i>
        </li>

        <li class="nav-item admin-container" (click)="useAdminMode()">
          <!-- <i class="material-icons nav-link icon">account_circle</i> -->
          <i class="mdi mdi-account-circle icon"></i>
        </li>
        <li class="nav-item language-container" (click)="useLanguage()">
          <!-- <i class="material-icons nav-link icon">language</i> -->
          <i class="mdi mdi-web icon"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid" *ngIf="currentUrl !== '/hong-chi'">
    <div
      class="navbar-collapse collapse flex-sm-grow-1 justify-content-start align-self-center"
      style="flex: 1"
    >
      <!-- <label
        style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
      >
        {{ modeTranslation }}</label
      > -->
      <i class="material-icons icon" (click)="backToPreviousPage()"
        >arrow_back_ios_new</i
      >
      <mat-icon class="mdi mdi-{{ mode?.icon }} mode-item-icon"></mat-icon>
    </div>
    <div
      class="navbar-collapse collapse flex-sm-grow-auto justify-content-start align-self-center path"
    >
      <label
        style="
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: start;
          width: 100%;
          white-space: nowrap;
        "
        >{{ currentPageTitle }}</label
      >
    </div>
  </div>
</nav>
