.navbar-expand .navbar-collapse {
  display: flex !important; // stylelint-disable-line declaration-no-important
  flex-basis: none;
}

.navbar {
  background-color: #052344;
  max-height: 70px;
  height: 100%;
  // border-bottom: 10px rgba(0, 0, 0, 0.2) solid;
  // border-bottom-right-radius: 25px;
}

.mode {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
}

.map {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
}

.nav-link {
  color: #fff;
  max-height: inherit;
  max-width: inherit;
}

.language-container {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
}

.admin-container{
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
}
.battery-container {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  margin: auto;
  filter: drop-shadow(1px 1px white) drop-shadow(-0.1px -0.1px 0 white) drop-shadow(0.1px 0.1px 0 white);
  .battery {
    position: relative;
    width: 5em;
    top: 0;
    left: 0;
  }
  .battery-charging {
    position: absolute;
    left: 28px;
    animation: fade 600ms infinite;
  }
  .battery-percentage {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    text-align: center;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .mode {
    font-size: 25px;
  }

  .map {
    font-size: 25px;
  }
}

// nav-link nb-icon {
//   font-size: 3rem;
// }

// @media only screen and (min-width : 992px) {
//   .navbar {
//       height: 20rem;
//   }
// }
