<div class="robot-group-container">
  <div class="robot-group-list-wrapper">
    <app-robot-list
      [robots]="robots"
      (selectedRobotEvent)="onEventRobot($event)"
    ></app-robot-list>
    <!-- <div class="robot-group-join-btn-container d-flex justify-content-around">
      <button class="btn robot-group-join-btn" (click)="joinGroup()">
        <i class="mdi mdi-plus robot-group-join-btn-icon"></i>
      </button>
    </div> -->
    <div
      class="robot-group-confirm-btn-container d-flex justify-content-around"
      (click)="onSubmit(selectedRobots)"
      *ngIf="selectedRobots"
    >
      <button class="btn robot-group-confirm-btn">
        <i class="mdi mdi-chevron-right robot-group-confirm-btn-icon"></i>
        <label class="robot-group-confirm-btn-title">{{
          "confirm" | translate
        }}</label>
      </button>
    </div>
  </div>
</div>
