<div fxFill fxLayout="row" class="container-fluid card-container">
  <div
    fxLayoutAlign="center center"
    class="p-3"
    [ngClass]="{ 'block-disable': disable === true, block: disable === false }"
    (click)="onClickEvent()"
  >
    <div class="card-body">
      <div class="icon-container">
        <i class="mdi mdi-{{ icon }} icon"></i>
      </div>
      <h2 *ngIf="title; else loading">{{ title | translate }}</h2>
      <ng-template #loading><h2>Loading..</h2></ng-template>
    </div>
  </div>
</div>
