<div fxFill fxLayout="row" class="container-fluid card-container">
  <div
    fxLayoutAlign="center center"
    class="p-3"
    [ngClass]="{ 'block-disable': disable === true, block: disable === false }"
    (click)="onClickEvent()"
  >
    <div class="card-body">
      <div class="icon-container">
        <i class="mdi mdi-{{ icon }} icon"></i>
      </div>
      <label *ngIf="title; else loading" class="card-title">{{ title | translate }}</label>
      <ng-template #loading><label class="card-title">Loading..</label></ng-template>
    </div>
  </div>
</div>
