<div class="container-fluid" style="height: 100%;margin-top: 20px;width: 100vw;">
  <div class="row ">
    <div
      class="col-md-6 col-xs-12  col-md-offset-2"
      (click)="mode === 'NAVIGATION' && onSubmitWaypont()"
      style="padding: 5px;"
      *ngIf="role === 'client' || 'admin'"
    >
      <app-card
        title="waypoint"
        icon="fmd_good"
        [disable]="mode !== 'NAVIGATION' ? true : false"
      ></app-card>
    </div>
    <div class="col-md-6 col-xs-12   col-md-offset-2" (click)="onDockToStation()" style="padding: 5px;" *ngIf="role === 'admin'">
      <app-card title="docking" icon="power"></app-card>
    </div>
    <div class="col-md-6 col-xs-12   col-md-offset-2" (click)="onSubmitSOS()" style="padding: 5px;"  *ngIf="role === 'client'">
      <app-card title="sos" icon="wifi"></app-card>
    </div>
    <div class="col-md-6 col-xs-12   col-md-offset-2" (click)="onChangeMap()" style="padding: 5px;"  *ngIf="role === 'admin'">
      <app-card title="map" icon="map"></app-card>
    </div>
    <div
      class="col-md-6 col-xs-12   col-md-offset-2"
      (click)="mode === 'NAVIGATION' && onSubmitLocalization()"
      style="padding: 5px;"
      *ngIf="role === 'admin'"
    >
      <app-card
        title="localization"
        icon="edit_location"
        [disable]="mode !== 'NAVIGATION' ? true : false"
      ></app-card>
    </div>
    <div class="col-md-6 col-xs-12   col-md-offset-2" (click)="onChangeMode()" style="padding: 5px;"  *ngIf="role === 'admin'">
      <app-card title="mode" icon="loyalty"></app-card>
    </div>
  </div>
</div>
