<div class="container-fluid home-container">
  <div class="home-items">
    <div class="row" style="margin: auto">
      <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="features.waypoint"
      >
        <app-card
          title="waypoint"
          icon="map-marker-distance"
          [disable]="mode !== 'NAVIGATION' ? true : false"
          (eventTrigger)="onSubmitWaypont()"
        ></app-card>
      </div>
      <!-- <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="user?.length > 0 && features.docking"
      >
        <app-card
          title="docking"
          icon="battery-charging"
          (eventTrigger)="onDockToStation()"
        ></app-card>
      </div> -->
      <div class="col-md-12 col-xs-12 col-md-offset-2" *ngIf="features.sos">
        <app-card
          title="sos"
          icon="bell-ring-outline"
          (eventTrigger)="onSubmitSOS()"
        ></app-card>
      </div>
      <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="user?.length > 0 && features.map"
      >
        <app-card
          title="map"
          icon="map"
          [disable]="!mode || mode === 'UNDEFINED' ? true : false"
          (eventTrigger)="onChangeMap()"
        ></app-card>
      </div>
      <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="user?.length > 0 && features.localization"
      >
        <app-card
          title="localization"
          icon="map-marker-radius-outline"
          [disable]="mode !== 'NAVIGATION' ? true : false"
          (eventTrigger)="onSubmitLocalization()"
        ></app-card>
      </div>
      <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="
          user?.length > 0 &&
          mode === 'FOLLOW_ME' &&
          features.pairing &&
          pairingState === 'UNPAIRED'
        "
      >
        <app-card
          title="pair"
          icon="gesture-tap"
          (eventTrigger)="onClickPairing()"
        ></app-card>
      </div>
      <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="
          user?.length > 0 &&
          mode === 'FOLLOW_ME' &&
          features.pairing &&
          pairingState !== 'UNPAIRED'
        "
      >
        <app-card
          title="unpair"
          icon="gesture-tap"
          (eventTrigger)="onClickUnPairing()"
        ></app-card>
      </div>
      <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="user?.length > 0 && features.mode"
      >
        <app-card
          title="mode"
          icon="map-marker-path"
          (eventTrigger)="onChangeMode()"
        ></app-card>
      </div>
      <div
        class="col-md-12 col-xs-12 col-md-offset-2"
        *ngIf="user?.length > 0 && features.logs"
      >
        <app-card
          title="downloadLogs"
          icon="math-log"
          (eventTrigger)="onDownloadLogs()"
        ></app-card>
      </div>
    </div>
  </div>
</div>
