<div class="container-fluid h-100 charging-wrapper">
  <div class="row h-100 justify-content-center" >
    <div class="col-md-12 col-sm-12 charging-container">
      <i class="mdi mdi-battery-charging charging-icon"></i>
      <div class="charging-content">
        <h1 class="docking-tips">{{ "dockingDialog.tips3" | translate }}</h1>
        <h2 class="docking-tips">{{ "dockingDialog.tips4" | translate }}</h2>
      </div>
      <div class="charging-btn-container d-flex justify-content-center">
        <!-- <button class="btn cancel-button mr-2 p-2" (click)="onClickCancelCharging()">{{ "dockingDialog.cancalCharging" | translate}}</button> -->
        <div class="btn cancel-button" (click)="onClickCancelCharging()">
          <i class="mdi mdi-close close-icon"></i>
          <label class="close-title">{{
            "dockingDialog.cancalCharging" | translate
          }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
