.destination-container {
  position: absolute;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.spuare-group {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.square-button {
  height: 100px;
  width: 100px;
  margin: 10px;
  display: flex;
  flex: 0 0 25%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.square-button:active {
  filter: drop-shadow(1px 1px #052344) drop-shadow(-0.1px -0.1px 0 #052344)
    drop-shadow(0.1px 0.1px 0 #052344);
}

.pause {
  color: #c39813;
  // background-color: #052344;
  // border-radius: 10px;
  // border: 3px solid #052344;
}

.resume {
  color: #00bbd4;
  // background-color: #052344;
  // border-radius: 10px;
  // border: 3px solid #052344;
}

.cancel {
  color: #e8284c;
  // background-color: #052344;
  // border-radius: 10px;
  // border: 3px solid #052344;
}

.icon {
  position: absolute;
  bottom: 5px;
  font-size: 4em;
  filter: drop-shadow(1px 1px black) drop-shadow(-0.1px -0.1px 0 white)
    drop-shadow(0.1px 0.1px 0 black);
}

.title {
  position: absolute;
  bottom: 0;
  font-size: 15px;
}

.map {
  height: 100%;
  width: 90vw;
}

@media only screen and (max-width: 900px) {
  .map-item {
    font-size: 35px !important;
  }

  .map-cancel-button {
    font-size: 35px;
  }

  .map-confirm-button {
    font-size: 35px;
  }
}
