<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="col-12">
      <app-map-wrapper
        *ngIf="mapImage"
        type='positionListener'
        [currentRobotPose]="currentRobotPose"
        [mapImage]="mapImage"
        [metaData]="metaData"
      ></app-map-wrapper>
    </div>
    <div class="col-12 mx-auto">
      <div
        class="row h-100 justify-content-center spuare-group"
        style="text-align: center"
      >
        <div class="col-md-6 col-sm-12 square-button pause" (click)="onPause()">
          <i class="material-icons" style="font-size: 4em">pause</i>
          <h3 style="font-size: 30px">{{ "pause" | translate }}</h3>
        </div>
        <div
          class="col-md-6 col-sm-12 square-button resume"
          (click)="onResume()"
        >
          <i class="material-icons" style="font-size: 4em">play_arrow</i>
          <h3 style="font-size: 30px">{{ "resume" | translate }}</h3>
        </div>
        <div
          class="col-md-6 col-sm-12 square-button cancel"
          (click)="onCancel()"
        >
          <i class="material-icons" style="font-size: 4em"
            >cancel_presentation</i
          >
          <h3 style="font-size: 30px">{{ "cancel" | translate }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
