.destination-container {
  

  .spuare-group {
    display: flex;
    width: 100%;

    .square-button {
      height: 125px;
      width: 125px;
      margin: 0 auto;
      display: flex;
      flex: 0 0 25%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      background-color: transparent;
    }

    .square-button:active {
      // box-shadow: -2px -2px 5px rgb(250, 0, 0);
      filter: drop-shadow(1px 1px white) drop-shadow(-0.1px -0.1px 0 white)
        drop-shadow(0.1px 0.1px 0 white);
    }
  }
}

.pause {
  color: #c39813;
  border-radius: 10px;
  border: 3px solid #c39813;
}

.resume {
  color: #00bbd4;
  border-radius: 10px;
  border: 3px solid #00bbd4;
}

.cancel {
  color: #e8284c;
  border-radius: 10px;
  border: 3px solid #e8284c;
}

.icon {
  position: absolute;
  bottom: 5px;
  font-size: 6em;
}
.title {
  position: absolute;
  bottom: 0;
  font-size: 25px;
}

.map{
  height:60vh;
}

@media only screen and (max-width: 900px) {
  .map-item {
    font-size: 35px !important;
  }

  .map-cancel-button {
    font-size: 35px;
  }

  .map-confirm-button {
    font-size: 35px;
  }
  
  .map {
    height: 400px;
  }
}
