<div
  class="modal fade"
  style="z-index: 998"
  role="dialog"
  tabindex="-1"
  [class.in]="visibleAnimate"
  *ngIf="visible && !response"
>
  <div
    class="modal-dialog"
    *ngIf="!loader"
    style="
      max-width: 650px !important;
      padding: 20px;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0;
    "
  >
    <div
      class="modal-content"
      style="border-radius: 20px; background-color: inherit; border: 5px solid #202020;"
    >
      <div class="modal-header" *ngIf="header">
        <ng-container *ngTemplateOutlet="header"></ng-container>

        <i
          class="mdi mdi-close icon"
          *ngIf="disableClose"
          (click)="close()"
        ></i>
      </div>
      <div class="modal-body" *ngIf="body">
        <ng-container *ngTemplateOutlet="body"></ng-container>
      </div>
      <div class="modal-footer" *ngIf="footer">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  style="z-index: 999"
  role="dialog"
  tabindex="1"
  [class.in]="visibleAnimate"
  *ngIf="visible && response"
>
  <div
    class="modal-response-dialog"
    style="max-width: 650px !important; padding: 20px"
  >
    <div
      class="modal-content"
      style="
        height: auto;
        display: flex;
        text-align: center;
        border-radius: 20px;
        border: 5px solid #202020;
        background-color: inherit;
      "
    >
      <div class="modal-header" *ngIf="header">
        <ng-container *ngTemplateOutlet="header"></ng-container>
        <i
          class="mdi mdi-close icon"
          *ngIf="disableClose"
          (click)="
            !localizationFormComponent ? close() : onCloseWithoutRefresh()
          "
        ></i>
      </div>
      <div
        class="modal-response"
        style="
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <ng-container *ngTemplateOutlet="response"></ng-container>
      </div>
    </div>
  </div>
</div>
