<div
  class="modal fade"
  style="z-index: 999"
  role="dialog"
  tabindex="-1"
  [class.in]="visibleAnimate"
  *ngIf="visible && !response"
>
  <div
    class="modal-dialog"
    *ngIf="!loader"
    style="
      max-width: 550px;
      width: 90%;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0;
    "
    cdkDrag
  >
    <div class="modal-content" style="background-color: inherit">
      <div class="modal-header" *ngIf="header">
        <ng-container *ngTemplateOutlet="header"></ng-container>

        <i
          class="mdi mdi-close icon"
          *ngIf="disableClose"
          (click)="closeAfterRefresh ? close() : onCloseWithoutRefresh()"
        ></i>
      </div>
      <div class="modal-body" *ngIf="body">
        <ng-container *ngTemplateOutlet="body"></ng-container>
      </div>
      <div class="modal-footer" *ngIf="footer">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>

<div
  class="modal fade"
  style="z-index: 1000"
  role="dialog"
  tabindex="1"
  [class.in]="visibleAnimate"
  *ngIf="visible && response"
>
  <div
    class="modal-response-dialog"
    style="max-width: 650px !important; padding: 20px"
    cdkDrag
  >
    <div
      class="modal-content"
      style="
        display: flex;
        text-align: center;
        background-color: inherit;
      "
    >
      <div class="modal-header" *ngIf="header">
        <ng-container *ngTemplateOutlet="header"></ng-container>
        <i
          class="mdi mdi-close icon"
          *ngIf="disableClose"
          (click)="closeAfterRefresh ? close() : onCloseWithoutRefresh()"
        ></i>
      </div>
      <div
        class="modal-response"
        style="
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <ng-container *ngTemplateOutlet="response"></ng-container>
      </div>
    </div>
  </div>
</div>
