.modal {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 42;
  color: white;
}

.modal.in {
  opacity: 1;
}

.modal-header {
  background-color: #202020;
  // #202020
  border-bottom: 0px solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-dialog {
  width: 100%;
  background-color: #121212;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.model-content {
  width: 90%;
  margin: 0 auto;
}

.modal-response-dialog {
  width: 100%;
}

.modal-response {
  background-color: #121212;
  overflow: auto;
}

.icon {
  font-size: 2em;
  color: white;
}

// .modal-response-content {
//     width: 100%;
//     height: 200px;
// }
