<div class="docking-container">
  <div class="docking-content">
    <div class="docking-title-container">
      <h2 class="docking-title">{{ "dockingDialog.tips1" | translate }}</h2>
    </div>
    <div class="docking-btn-container d-flex justify-content-evenly">
      <div class="btn cancel-button " (click)="onCloseModel()">
        <i class="mdi mdi-close icon"></i>
        <label class="title">{{
          "cancel" | translate
        }}</label>
      </div>
      <div class="btn confirm-button" (click)="onSubmitModel()">
        <i class="mdi mdi-check icon"></i>
        <label class="title">{{
          "confirm" | translate
        }}</label>
      </div>
    </div>
  </div>
</div>
