.docking-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.docking-content {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  color: #fff;
}

.docking-title-container {
  text-align: center;
  width: 300px;
  height: 150px;

  .docking-title {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.docking-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  .cancel-button,
  .confirm-button {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .icon {
      font-size: 5em;
      position: relative;
      bottom: 30px;
    }

    .title {
      font-size: 25px;
      position: relative;
      bottom: 70px;
    }
  }

  .cancel-button {
    color: #ff0000;
    border: 1px solid #ff0000;
  }
  .confirm-button {
    color: #00b8d4;
    border: 1px solid #00b8d4;
  }
}

@media only screen and (max-width: 900px) {
  // .docking-title {
  //   font-size: 35px !important;
  // }

  // .cancel-button {
  //   font-size: 35px;
  // }

  // .confirm-button {
  //   font-size: 35px;
  // }
}
