<div class="localization-map-wrapper" *ngIf="mapImage">
  <div class="localization-map-container">
    <app-map-wrapper
      type="localizationEditor"
      [mapImage]="mapImage"
      [metaData]="metaData"
      (isUpdatedWaypoint)="isLocalizedLocation($event)"
    ></app-map-wrapper>
  </div>
  <!-- <div class="localization-btn-container d-flex justify-content-around">
    <button class="btn localization-cancel-button" (click)="onCloseModel()">
      {{ "cancel" | translate }}
    </button>
  </div> -->
</div>
