<ng-container *ngIf="type === 'MAP'">
  <div class="localization-map-wrapper" *ngIf="rosMapImage">
    <div class="container-fluid localization-map-container">
      <app-map-wrapper
        [editor]="editor"
        [floorPlan]="floorPlanImg"
        [mapImage]="rosMapImage"
        [metaData]="metaData"
        [mapName]="mapName"
        [newRatio]="newRatio"
        (isUpdatedWaypoint)="isLocalizedLocation($event)"
      ></app-map-wrapper>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'LIST'">
  <!-- <div class="waypoint-items-container">
    <div class="waypoint-items">
      <div
        class="waypoint-item"
        *ngFor="let waypoint of waypointLists$ | async"
        [ngClass]="{ selected: selectedWaypoint?.id === waypoint.id }"
        (click)="onSelectedWaypoint(waypoint)"
      >
        {{ waypoint.waypointName }}
      </div>
    </div>
  </div>
  <div class="waypoint-btn-container d-flex justify-content-around">
    <button
      *ngIf="selectedWaypoint"
      class="btn waypoint-confirm-button"
      (click)="onSubmitLocalizationPoint(selectedWaypoint)"
    >
      <i class="mdi mdi-chevron-right waypoint-confirm-button-icon"></i>
      <label class="waypoint-confirm-button-title">{{
        "confirm" | translate
      }}</label>
    </button>
  </div> -->

  <div class="waypoint-items-container">
    <div class="waypoint-items">
      <div
        class="waypoint-item"
        *ngFor="let floorPlan of floorPlanLists$ | async"
        [ngClass]="{ selected: selectedFloorPlanPoint?.pointCode === floorPlan.pointCode }"
        (click)="onSelectedFloorPlanPoint(floorPlan)"
      >
        {{ floorPlan.pointCode }}
      </div>
    </div>
  </div>
  <div class="waypoint-btn-container d-flex justify-content-around">
    <button
      *ngIf="selectedFloorPlanPoint"
      class="btn waypoint-confirm-button"
      (click)="onSubmitLocalizationByFloorPlanPoint(selectedFloorPlanPoint)"
    >
      <i class="mdi mdi-chevron-right waypoint-confirm-button-icon"></i>
      <label class="waypoint-confirm-button-title">{{
        "confirm" | translate
      }}</label>
    </button>
  </div>

</ng-container>
