<ng-container *ngIf="type === 'LIST'">
  <div class="waypoint-items-container">
    <div class="waypoint-items">
      <div
        class="waypoint-item"
        *ngFor="let waypoint of waypointLists"
        [ngClass]="{ selected: selectedWaypoint?.name === waypoint.name }"
        (click)="onSelectedWaypoint(waypoint)"
      >
        {{ waypoint.name }}
      </div>
    </div>
  </div>

  <div class="waypoint-btn-container d-flex justify-content-around">
    <button
      *ngIf="selectedWaypoint"
      class="btn waypoint-confirm-button"
      (click)="onSubmitModel(selectedWaypoint)"
    >
      <i class="mdi mdi-chevron-right waypoint-confirm-button-icon"></i>
      <label class="waypoint-confirm-button-title">{{
        "confirm" | translate
      }}</label>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="type === 'MAP'">
  <div class="container-fluid">
    <div class="card">
      <app-map-wrapper
        *ngIf="waypointLists"
        class="map"
        [toolType]="toolType"
        [floorPlanData]="floorPlanSubject$ | async"
        [pointLists]="waypointLists"
        (selectedWaypoint)="onSelectedWaypoint($event)"
      ></app-map-wrapper>
    </div>
  </div>
  <div class="waypoint-selected-container">
    <div class="waypoint-selected-title">
      <!-- {{ "waypointDialog.tips1" | translate }}  -->
      {{ selectedWaypoint?.name }}
    </div>
  </div>
  <div class="waypoint-btn-container d-flex justify-content-around">
    <button
      *ngIf="selectedWaypoint"
      class="btn waypoint-confirm-button"
      (click)="onSubmitModel(selectedWaypoint)"
    >
      <i class="mdi mdi-chevron-right waypoint-confirm-button-icon"></i>
      <label class="waypoint-confirm-button-title">{{
        "confirm" | translate
      }}</label>
    </button>
  </div>
</ng-container>
