.waypoint-items-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.waypoint-items {
  display: flex;
  gap: 10px;
  margin: 15px 20px 0 20px;
  flex-direction: column;
}

.waypoint-item {
  max-height: 80px;
  min-height: 80px;
  width: 100%;
  border: 4px solid #00b8d4;
  border-radius: 10px;
  flex: 0 0 30%;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  color: #00b8d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: #00b8d4;
  color: #fff;
}

.waypoint-btn-container {
  z-index: 999;
}

.waypoint-selected-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 0px 5px 0 5px;
}

.waypoint-selected-title {
  color: rgb(255, 0, 0);
  // background-color: #00b8d4;
  font-size: 32px;
  z-index: 999;
}

.waypoint-confirm-button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
  margin: 0px 5px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: #fff;
  background-color: #00b8d4;
  font-size: 22px;
}

// .waypoint-confirm-button {
//   z-index: 999;
//   position: fixed;
//   bottom: 0;
//   right: 0;
//   margin: 0px 20px 20px 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100px;
//   width: 100px;
//   border-radius: 50%;
//   color: #fff;
//   background-color: #00b8d4;
//   font-size: 22px;
// }

.waypoint-confirm-button-icon {
  text-align: center;
  font-size: 4em;
  position: absolute;
  bottom: 0;
}

.waypoint-confirm-button-title {
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.map {
  height: 80vh;
}

@media only screen and (max-width: 900px) {
  .waypoint-item {
    font-size: 35px !important;
  }

  .waypoint-cancel-button {
    font-size: 35px;
  }

  .waypoint-confirm-button {
    font-size: 35px;
  }

  .waypoint-confirm-button-icon {
    font-size: 2.3em;
  }

  .waypoint-confirm-button-title {
    font-size: 20px;
  }
}
