.mission-items-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.mission-items {
  display: flex;
  gap: 10px; // todo 2024/03/28
  margin: 15px 20px 0 20px;
  flex-direction: column; // todo 2024/03/28
  // flex-direction: row;
  // flex-wrap: wrap;
  // column-gap: 2px;
}

.mission-item {
  min-height: 80px;
  width: 100%;
  border: 4px solid #00b8d4;
  border-radius: 10px;
  flex: 0 0 25%;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  color: #00b8d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: #00b8d4;
  color: #fff;
}

.mission-btn-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 20px 20px 0;
}

.mission-confirm-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: #fff;
  background-color: #00b8d4;
  font-size: 22px;
}

.mission-confirm-button-icon {
  text-align: center;
  font-size: 4em;
  position: absolute;
  bottom: 0;
}

.mission-confirm-button-title {
  text-align: center;
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .mission-item {
    font-size: 35px !important;
  }

  .mission-cancel-button {
    font-size: 35px;
  }

  .mission-confirm-button {
    font-size: 35px;
  }

  .mission-confirm-button-icon {
    font-size: 2.5em;
  }

  .mission-confirm-button-title {
    font-size: 20px;
  }
}

@media only screen and (orientation: landscape) {
  .mission-items {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5;
    gap: 0;
  }

  .mission-item {
    flex: 0 0 25%;
    overflow: auto;
    border: none;
    width: 100%;
    padding: 0.5rem;
  }

  .mission-item > label {
    width: 100%;
    height: 100px;
    border: 4px solid #00b8d4;
    border-radius: 15px;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .selected {
    background-color: transparent;
    color: #00b8d4;
  }

  .selected > label {
    background-color: #00b8d4;
    color: #fff;
  }
}
