.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: solid black;
  background: whitesmoke;
}

.parent-canvas {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
}

.degrees-label {
  position: absolute;
  left: 20px;
  z-index: 1000;
  font-size: 30px;
}

.button-wrapper {
  width: 50px;
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 10px;
}

.localization-btn-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 10px;
  // width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999;
  align-items: flex-start;
  flex: 1;
}

.localization-clear-button {
  background-color: transparent;
  border: 2px solid #00b8d4;
  border-radius: 100%;
  color: #00b8d4;
  margin: 2px;
  justify-content: center;
  display: flex;
  flex: 1;
}

.localization-preview-button {
  background-color: transparent;
  border: 2px solid #5dab43;
  border-radius: 100%;
  color: #5dab43;
  margin: 2px;
  justify-content: center;
  display: flex;
  flex: 1;
}

.localization-edit-button {
  background-color: transparent;
  border: 2px solid #00b8d4;
  border-radius: 100%;
  color: #00b8d4;
  margin: 0;
  justify-content: center;
  display: flex;
  flex: 1;
}

.icon {
  font-size: 1em;
}

@media only screen and (max-width: 900px) {
  .localization-item {
    font-size: 35px !important;
  }

  .localization-clear-button,
  .localization-preview-button,
  .localization-edit-button {
    font-size: 30px;
  }
}
