<div class="default-container" fxFlexFill fxLayout="column">
  <div fxFlex="none">
    <app-header></app-header>
  </div>
  <div class="content" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    <router-outlet></router-outlet>
  </div>

  <div fxFlex="none" class="footer">
    <app-footer></app-footer>
  </div>
</div>

<app-modal
  #responseDialog
  disableClose="true"
  [closeAfterRefresh]="closeDialogAfterRefresh"
>
  <ng-template #modalHeader
    ><h2 class="modal-title">{{ response.type | translate }}</h2></ng-template
  >
  <ng-template #modalResponse
    ><label class="modal-body">{{
      response?.message | translate
    }}</label></ng-template
  >
</app-modal>

<!-- <app-modal #chargingDialog>
  <ng-template #modalHeader
    ><h2 class="modal-title">{{ "docking" | translate }}</h2>
  </ng-template>
  <ng-template #modalBody>
    <app-charging></app-charging>
  </ng-template>
</app-modal> -->

<app-modal
  #dialog
  [disableClose]="isDisableClose"
  [closeAfterRefresh]="closeDialogAfterRefresh"
>
  <ng-template #modalHeader
    ><h2 class="modal-title">{{ modalTitle | translate }}</h2></ng-template
  >
  <ng-template #modalBody [ngSwitch]="modal">
    <!-- <div *ngSwitchCase="'waypoint'">
      <app-waypoint-form (onClose)="onCloseDialog($event)"></app-waypoint-form>
    </div> -->
    <!-- <div *ngSwitchCase="'sos'">
      <app-sos-form></app-sos-form>
    </div> -->
    <!-- <div *ngSwitchCase="'map'">
      <app-map-form></app-map-form>
    </div> -->
    <!-- <div *ngSwitchCase="'localization'">
      <app-localization-form></app-localization-form>
    </div> -->
    <!-- <div *ngSwitchCase="'docking'">
      <app-docking-form></app-docking-form>
    </div> -->
    <!-- <div *ngSwitchCase="'mode'">
      <app-mode-form></app-mode-form>
    </div> -->
    <!-- <div *ngSwitchCase="'destination'">
      <app-destination></app-destination>
    </div> -->
    <div *ngSwitchCase="'signout'">
      <app-sign-out-form (onClose)="onCloseDialog($event)"></app-sign-out-form>
    </div>
    <div *ngSwitchCase="'pair'">
      <app-pairing-pair (onClose)="onCloseDialog($event)"></app-pairing-pair>
    </div>
    <div *ngSwitchCase="'unpair'">
      <app-pairing-unpair
        (onClose)="onCloseDialog($event)"
      ></app-pairing-unpair>
    </div>
    <div *ngSwitchCase="'follow-me-inspector'">
      <app-follow-me-inspector-dialog></app-follow-me-inspector-dialog>
    </div>
    <!-- <div *ngSwitchCase="'final-destination-dialog'">
      <app-final-destination-dialog
        [metaData]="metaData"
        (onClose)="onCloseDialog($event)"
      ></app-final-destination-dialog>
    </div> -->
    <div *ngSwitchCase="'sign-in-dialog'">
      <app-sign-in-form></app-sign-in-form>
    </div>
    <div *ngSwitchCase="'confirmation-dialog'">
      <app-confirmation-dialog
        [metaData]="metaData"
        (onClose)="onCloseDialog($event)"
      ></app-confirmation-dialog>
    </div>
    <div *ngSwitchCase="'join-robot-group'">
      <app-robot-group-form [metaData]="metaData"></app-robot-group-form>
    </div>
    <div *ngSwitchCase="'robot-pairing'">
      <app-robot-pairing-dialog
        [metaData]="metaData"
      ></app-robot-pairing-dialog>
    </div>
  </ng-template>
</app-modal>

<!-- hardcode modal type to warning -->
<app-modal
  #disconnectResponseDialog
  [disableClose]="false"
  [closeAfterRefresh]="closeDialogAfterRefresh"
>
  <ng-template #modalHeader
    ><h2 class="modal-title">{{ "warning" | translate }}</h2></ng-template
  >
  <ng-template #modalResponse
    ><label class="modal-body">{{
      disconnectMessage | translate
    }}</label></ng-template
  >
</app-modal>
