:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  background-position: center center;
  background-repeat: repeat;
  background-size: cover cover;
  -webkit-background-size: cover cover;
  -moz-background-size: cover cover;
  background-image: url('../../../assets/images/bg-black.png');
  overflow-y: scroll;
  // height: 100%;
}

.modal-title {
  max-width: 50vw;
  word-wrap: break-word;
}

.modal-body {
  overflow: auto;
  // max-height: calc(100vh - 300px);
  word-wrap: break-word;
}

@media only screen and (max-width: 900px) {
  .modal-title {
    font-size: 25px !important;
  }
}
