:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.default-wrapper {
  background-position: center center;
  background-repeat: repeat;
  background-size: cover cover;
  -webkit-background-size: cover cover;
  -moz-background-size: cover cover;
  background-image: url('../../../assets/images/bg-black.png');
  overflow-y: scroll;
  animation: gradient 360s ease infinite;
	
  // height: 100%;
}

.content {
  overflow-y: scroll;
}



.modal-title {
  max-width: 50vw;
  word-wrap: break-word;
}

.modal-body {
  overflow: auto;
  // max-height: calc(100vh - 300px);
  word-wrap: break-word;
}

@media only screen and (max-width: 900px) {
  .modal-title {
    font-size: 25px !important;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
