<div class="default-wrapper" fxFlexFill fxLayout="column">
  <div fxFlex="none">
    <app-header></app-header>
  </div>
  <div class="content" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    <router-outlet></router-outlet>
  </div>

  <div fxFlex="none" class="footer">
    <app-footer></app-footer>
  </div>
</div>

<app-modal
  #responseDialog
  disableClose="true"
  [closeAfterRefresh]="closeDialogAfterRefresh"
>
  <ng-template #modalHeader
    ><h2 class="modal-title">{{ response.type | translate }}</h2></ng-template
  >
  <ng-template #modalResponse
    ><label class="modal-body">{{
      response?.message | translate
    }}</label></ng-template
  >
</app-modal>

<!-- <app-modal #chargingDialog>
  <ng-template #modalHeader
    ><h2 class="modal-title">{{ "docking" | translate }}</h2>
  </ng-template>
  <ng-template #modalBody>
    <app-charging></app-charging>
  </ng-template>
</app-modal> -->

<app-modal #dialog [disableClose]="isDisableClose" [closeAfterRefresh]="closeDialogAfterRefresh">
  <ng-template #modalHeader
    ><h2 class="modal-title">{{ modalTitle | translate }}</h2></ng-template
  >
  <ng-template #modalBody [ngSwitch]="modal">
    <div *ngSwitchCase="'waypoint'">
      <app-waypoint-form></app-waypoint-form>
    </div>
    <div *ngSwitchCase="'sos'">
      <app-sos-form></app-sos-form>
    </div>
    <div *ngSwitchCase="'map'">
      <app-map-form></app-map-form>
    </div>
    <div *ngSwitchCase="'localization'">
      <app-localization-form></app-localization-form>
    </div>
    <div *ngSwitchCase="'docking'">
      <app-docking-form></app-docking-form>
    </div>
    <div *ngSwitchCase="'mode'">
      <app-mode-form></app-mode-form>
    </div>
    <div *ngSwitchCase="'destination'">
      <app-destination></app-destination>
    </div>
    <div *ngSwitchCase="'signout'">
      <app-sign-out-form></app-sign-out-form>
    </div>
    <div *ngSwitchCase="'pair'">
      <app-pairing-pair></app-pairing-pair>
    </div>
    <div *ngSwitchCase="'unpair'">
      <app-pairing-unpair></app-pairing-unpair>
    </div>
    <div *ngSwitchCase="'follow-me-inspector'">
      <app-follow-me-inspector-dialog></app-follow-me-inspector-dialog>
    </div>
    <div *ngSwitchCase="'final-destination-dialog'">
      <app-final-destination-dialog [metaData]="metaData"></app-final-destination-dialog>
    </div>
    <div *ngSwitchCase="'sign-in-dialog'">
      <app-sign-in-form></app-sign-in-form>
    </div>
  </ng-template>
</app-modal>
