:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  // position: absolute;
  // height: 100%;
  // width: 100%;
  background-color: #364E68;
}

.modal-title {
  max-width: 50vw;
  word-wrap: break-word;
}

.modal-body {
  overflow: auto;
  // max-height: calc(100vh - 300px);
  word-wrap: break-word;
  
}


@media only screen and (max-width: 900px) {
  .modal-title {
    font-size: 35px !important;
  }
}
