.mode-items-container {
  text-align: center;
  width: 100%;
  .mode-items {
    display: flex;
    justify-content: center;
    overflow: scroll;
    padding: 0 20px 0px 20px;
    overflow-y: hidden;
    .mode-item {
      width: 100%;
      border: 4px solid #765e31;
      border-radius: 5px;
      flex: 0 0 50%;
      margin: 5px;
      color: rgb(0, 0, 0);
      font-size: 2rem;
    }
    .selected {
      background-color: #e0e0e0;
    }
  }
}

.mode-btn-container {
  padding-top: 30px;
  width: 100%;
  .mode-cancel-button {
    background-color: #fe0000;
    width: 50%;
    color: white;
    margin: 0 10px 0 10px;
  }
  .mode-confirm-button {
    background-color: #09ff78;
    width: 50%;
    color: black;
    margin: 0 10px 0 10px;
  }
}


@media only screen and (max-width: 900px) {
  .mode-item {
    font-size: 45px  !important;
  }

  .mode-cancel-button {
    font-size: 35px;
  }

  .mode-confirm-button {
    font-size: 35px;
  }
}