:host {
  height: 100%;
}

.sign-in-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.sign-in-container {
  text-align: center;
  // width: 350px;
  // align-items: center;
  // display: flex;
  // flex-direction: column;
}

.submit-button {
  min-height: 20px;
  width: 100% !important;
  border: 4px solid #00b8d4;
  border-radius: 10px;
  flex: 0 0 25%;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  color: #00b8d4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.submit-button:active {
  color: #fff;
  background-color: #00b8d4;
}

.app-version-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.label {
  color: #fff;
}

@media only screen and (min-width: 350px) {
  /* CSS rules for screens wider than 480px */
  .sign-in-container {
    width: 350px;
  }
}

@media only screen and (min-width: 400px) {
  /* CSS rules for screens wider than 480px */
  .sign-in-container {
    width: 350px;
  }
}

@media only screen and (min-width: 480px) {
  /* CSS rules for screens wider than 480px */
  .sign-in-container {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  /* CSS rules for screens wider than 768px */
  .sign-in-container {
    width: 450px;
  }
}

@media only screen and (min-width: 992px) {
  /* CSS rules for screens wider than 992px */
  .sign-in-container {
    width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  /* CSS rules for screens wider than 1200px */
  .sign-in-container {
    width: 550px;
  }
}
