<div class="map-form">
  <div class="map-items-container">
    <div class="map-items">
      <div
        class="map-item"
        *ngFor="let map of mapLists$ | async"
        [ngClass]="{ selected: selectedMap === map.name }"
        (click)="onSelectedMap(map.name)"
      >
        {{ map.name }}
      </div>
    </div>
  </div>
  <div class="map-btn-container d-flex justify-content-around">
    <!-- <button class="btn map-cancel-button" (click)="onCloseModel()">{{ "cancel" | translate }}</button> -->

    <button class="btn map-confirm-button" (click)="onSubmitModel(selectedMap)" *ngIf="selectedMap">
      <i class="mdi mdi-chevron-right waypoint-confirm-button-icon"></i>
      <label class="map-confirm-button-title">{{
        "confirm" | translate
      }}</label>
    </button>
  </div>
</div>
